dialog {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 1rem 2rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
