@use "abstracts/variables" as *;

.canvas {
  background-color: hsl($palette-surface-lowest-h,$palette-surface-lowest-s, $palette-surface-lowest-l );
  padding: 1rem 1.5rem;
  border-radius: 1rem;

}
