@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

.details {

  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: hsl($palette-surface-lowest-h, $palette-surface-lowest-s, $palette-surface-lowest-l);

  padding: 1rem 1.5rem;
  box-shadow: $box-shadow;
  height: fit-content;

  &__description {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    p {
      line-height: 1.6rem;
    }
  }

  form {
    text-align: right;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;


    .file-input {
      display: none;
    }

    select {
      font: inherit;
      padding: .15rem;
      border: none;
      border-radius: 0.25rem;
      font-size: 0.75rem;
    }

    button {
      font: inherit;
      padding: 0.25rem 0.5rem;
      border: none;
      background-color: transparent;
      color: $primary-color;
      border-radius: 0.25rem;
      cursor: pointer;
      font-size: .75rem;
      font-weight: 500;

      &:hover{
        font-weight: bold;
      }
    }
  }
}
