
$font-family: 'Roboto', sans-serif;
$font-size: 16px;

$background-color: #FAFAFA;
$primary-color: #1C2833;
$secondary-color: #2E4053;
$color-gray: #43423f;
$color-light-gray: #DCE0E8;
$color-green: #259500;
$color-purple: #7D3C98;
$color-blue: #0382b1;
$color-red: #F5403E;
$color-black: black;
$palette-on-surface-default: 255 89.7% 11.4%;
$palette-transparent: 0 0% 0%;

$color-white: #fff;
$buttonBackground-hover: 247.2 55.7% 29.2%;

$palette-surface-lowest-h: 0;
$palette-surface-lowest-s: 0% ;
$palette-surface-lowest-l: 96.1%;

$palette-primary-h: 247.20000000000005;
$palette-primary-s: 56.1%;
$palette-primary-l: 43.7%;

$box-shadow: 0 8px 24px rgba(13,13,18,.04);
