@use "abstracts/variables" as *;

.control label {
  margin-bottom: 8px;
  display: block;
  color: #15103a;
  font-weight: 500;
  font-size: .9rem;
}

.control input,
.control select,
.control textarea {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: inherit;
  min-height: 2rem;
  background-color: #f1f1f8;
  border: none;
  line-height: 1.4rem;
  padding: 6px 14px;
  width: 100%;
  border-radius: .7em;
}
