@use "abstracts/variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@import "./styles/leaflet-noimages.css";
@import "leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.5;
}


.form {
  background-color: $color-white;
  padding: 1rem 1.5rem;
  box-shadow: $box-shadow;
}

.form-actions {
  margin-top: .5rem;
  text-align: right;
}

.accordion__icon {
  height: 20px;
  width: 20px;
}

.icon-action {
  cursor: pointer;
}

.control:has(.ng-invalid.ng-touched.ng-dirty) label {
  color: $color-red;
}

input.ng-invalid.ng-touched.ng-dirty {
  border: 1px solid $color-red;
}

.leaflet-control-layers-toggle {
  background-image: none !important;
}
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: none !important;
}
.leaflet-default-icon-path {
  background-image: none !important;
}
