@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

form {
  display: flex;
  flex-direction: column;
  gap: .75rem;

}

.confirm {
  text-align: center;

  button {
    @include button(hsl($palette-primary-h, $palette-primary-s, $palette-primary-l), $color-white, hsl($buttonBackground-hover));

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
    }
  }
}
