<h2 mat-dialog-title>Add Event</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-control label="Event Name" [error]="showErrorMessage('name')">
      <input type="text" name="name" formControlName="name"/>
    </app-control>

    <app-control label="Date" [error]="showErrorMessage('date')" [class.control-error]="">
      <input type="date" name="date" formControlName="date"/>
    </app-control>

    <app-control label="Type" [error]="showErrorMessage('type')">
      <select name="type" formControlName="type">
        @for (type of eventTypes; track type) {
          <option name="type">{{ type }}</option>
        }
      </select>
    </app-control>

    <app-control label="Distance" [error]="showErrorMessage('distance')">
      <input type="number" name="distance" formControlName="distance"/>
    </app-control>

    <app-control label="Description">
      <textarea rows="5" name="description" formControlName="description"></textarea>
    </app-control>

    <div class="confirm">
      <button type="submit" [disabled]="form.invalid">Save</button>
    </div>

  </form>
</mat-dialog-content>

